<!DOCTYPE html>
<html lang="pl">
  <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <script src="{% static 'js/login.js' %}"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ICare</title>
  </head>
  <body>
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
          <li><a href="{% url 'login' %}">Zaloguj</a></li>
          <li class="highlighted"><a href="{% url 'ICare_App:register' %}">Załóż konto</a></li>
        </ul>

        <ul>
          <li><a href="{% url 'ICare_App:index' %}">Start</a></li>
          <li><a href="#">O co chodzi?</a></li>
          <li><a href="#">O nas</a></li>
          <li><a href="#">Fundacje i organizacje</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="POST" class="center">
          {% csrf_token %}
        <div id="user" class="form-group">
            {{ form.username }}
        </div>
        <div id="pass" class="form-group">
            {{ form.password }}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'ICare_App:register' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

    <footer>
        <div class="contact">
          <h2>Skontaktuj się z nami</h2>
          <h3>Formularz kontaktowy</h3>
          <form>
            <div class="form-group form-group--50">
              <input type="text" name="name" placeholder="Imię" />
            </div>
            <div class="form-group form-group--50">
              <input type="text" name="surname" placeholder="Nazwisko" />
            </div>
  
            <div class="form-group">
              <textarea name="message" placeholder="Wiadomość" rows="1"></textarea>
            </div>
  
            <button class="btn" type="submit">Wyślij</button> 
          </form>
        </div>
        <div class="bottom-line">
          <span class="bottom-line--copy">Copyright &copy; 2018</span>
          <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}" /></a>
            <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}"/></a>
          </div>
        </div>
      </footer>
  </body>
</html>
